<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>TITLE</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="asset/css/style.css" />

</head>
<body>


<!-- @import kit/utility-bar -->
<!-- @import kit/header -->
<!-- @import kit/billboard -->


<!-- @import kit/content/product-list -->


<div class="container-fluid">
    <!-- @import kit/long-p -->
</div>


<script src="bower_components.js"></script>
<script src="asset/js/script.js"></script>

</body>
</html>
