/bootstrap/compiled.php
.env.*.php
.env.php
.env

*.lock


src/vendor/*

src/laravel-master/storage/database.sqlite

*.codekit

src/purefix/import/*

*.sqlite

src/purefix/Controllers/TestController.php
