.product-detail {

    .product-images {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.slick-arrow,
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: black;
    background: transparent;
}

.slick-arrow {
    color: black;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
