.product-list {
    
    @media (min-width: @screen-sm-max) {
        max-width: @screen-sm-max;
    }

    .product-image {
        width: 100%;
        img {
            width: 100%;
        }
    }
    h1 {
        .pf-h-centered;
    }
    .product-name {
        .font-size-large;
        .font-weight-light;
        text-align: center;
        color: @gray;
        text-decoration: none;
        padding: 5px 0;
        &:hover {
            color: @brand-primary;
        }
    }
    .product-image, .product-name {
        display: block;
    }
    .product {
        margin-bottom: 40px;
    }
}

.col-product {
    .make-sm-column(4);
    .make-xs-column(6)
}
