<div class="product-detail container-fluid">
    
    <div class="detail row">
        
        <div class="product-images col-md-6">
            {{#each images}}
            <img src="images/{{.}}" alt=""  />
            {{/each}}
        </div>

        <div class="product-info col-md-6">
            <h1 class="product-title">{{title}} - <span class="price">{{hprice}}</span></h1>
            <p class="product-description">{{{ description }}}</p>

            <h4>Ölçüler</h4>
            <div class="btn-group" data-toggle="buttons">
            {{#each variants}}
                <label class="btn btn-default active">
                    <input type="radio" name="size" id="{{id}}" autocomplete="off" checked>{{title}}
                </label>
            {{/each }}
            </div>


        </div>

    </div>


    <div class="row">
        <div class="lifestyle-images col-md-12">
            {{#each images_extra}}
                <img src="images/{{.}}" alt="" />
            {{/each}}
        </div>

        {{#if description_extra }}
        <div class="product-description-x col-md-10 col-md-offset-1">
            <h2>{{title}}</h2>
            <p>{{{ description_extra }}}</p>
        </div>
        {{/if }}

    </div>


</div>
