<div class="product-detail container-fluid">
    
    <div class="detail row">
        
        <div class="product-images col-md-6">
            {{#each images}}
            <img src="images/{{.}}" alt=""  />
            {{/each}}
        </div>

        <div class="product-info col-md-6">
            <h1 class="product-title">{{title}} - <span class="price">{{hprice}}</span></h1>
            <p class="product-description">{{{ description }}}</p>

            <h4>Kadro boyu</h4>
            <div class="product-options size-options btn-group" data-toggle="buttons">
            {{#each variants}}
                <label class="btn btn-default">
                    <input type="radio" name="size" value="{{id}}" id="variant-{{id}}" data-id="{{id}}" autocomplete="off"/>
                    {{title}}
                </label>
            {{/each }}
            </div>

        </div>

        <div class="product-buy col-md-6">
            {{#each variants}}
                {{#if url_n11 }}
                <a role="button" id="url-{{id}}" class="n11-buy btn-lg btn-primary hidden" rel="external" href="{{url_n11}}">n11.com'dan Satın Al</a>
                {{/if }}

            {{/each }}
        </div>

    </div>


    <div class="row">
        <div class="lifestyle-images col-md-12">
            {{#each images_extra}}
                <img src="images/{{.}}" alt="" />
            {{/each}}
        </div>

        {{#if description_extra }}
        <div class="product-description-x col-md-10 col-md-offset-1">
            <h2>{{title}}</h2>
            <p>{{{ description_extra }}}</p>
        </div>
        {{/if }}

        {{> part/product/size }}

        <div class="product-description-x col-md-10 col-md-offset-1">
            <h2>Güven Veren Garanti</h2>
            <p>
                Bisikletlerimize güvendiğimiz için ürünlerimizin arkasındayız. Müşterilerimizin
                oluşabilecek küçük problemleri kafasına takmadan sürüşünden keyif almasını istiyoruz.
                Bu yüzden, ömür boyu kadro ve 2 yıl parça garantisi veriyoruz. Bu sayede kendinizi
                güvende hissedecek ve sürüşünüzden keyif alacaksınız.
            </p>
        </div>

    </div>


</div>
