
@import (inline, css) "../../bower_components/slick-carousel/slick/slick.css";
//@import (inline, css) "../../bower_components/slick-carousel/slick/slick-theme.css";
@import "slick-theme";


@import "bootstrap";
@import "variables";

@import "header";
@import "footer";
@import "utility-bar";
@import "billboard";
@import "videos";
@import "content/product-list";
@import "content/product-detail";

body {
    background: @gray-lighter;
}
#content {
    background: white;
}

h1 {
    .font-weight-normal;
}

.pf-h-centered {
    font-size: @font-size-large * 1.4;
    .font-weight-bold;
    letter-spacing: 1.7;
    text-align: center;
    margin: 50px 0;
    color: black;
}

.container-fluid,
.container {
    background: white;
}

.btn-centered {
    .btn;
    float: none;
    display: block;
    .center-block;
    padding: 10px 0;
    margin-bottom: 50px;
    &:hover { color: white; }
}
