<header id="main-header" class="container-fluid">
    <nav id="brand" class="row">


        <div class="logo-col col-md-3 col-sm-10">

            <a class="logo full" href="{{url.home}}">
                <img src="asset/img/purefix-purecity-logo-black.png" alt="Pure Fix Cycles"/>
            </a>
            <a class="logo logo-small" href="{{url.home}}">
                <img src="asset/img/purefix-logo-black.png" alt="Pure Fix Cycles"/>
            </a>

        </div>

        <div class="col-md-9 col-sm-1">
            
            <ul id="main-nav">
                <li><a href="{{url.products}}">BİSİKLET</a></li>
                <li><a data-toggle="tooltip" title="PEK YAKINDA" data-placement="bottom" href="#">YEDEK PARÇA</a></li>
                <li><a data-toggle="tooltip" title="PEK YAKINDA" data-placement="bottom" href="#">AKSESUAR</a></li>
                <li><a href="{{url.glow}}">GLOW SERİSİ</a></li>
                <li><a data-toggle="tooltip" title="PEK YAKINDA" data-placement="bottom" href="#">TRACK SERİSİ</a></li>
                <li><a href="/">FIRSAT</a></li>
            </ul>

        </div>
    </nav>

</header>


