<header id="main-header" class="container-fluid">
    <nav id="brand" class="row">

        <div class="col-sm-1 visible-sm-block">
            asd
        </div>

        <div class="logo-col col-md-3 col-sm-10">

            <a class="logo full" href="{{url.home}}">
                <img src="asset/img/purefix-logo-black.png" alt="Pure Fix Cycles"/>
            </a>
            <a class="logo logo-small" href="{{url.home}}">
                <img src="asset/img/purefix-logo-black.png" alt="Pure Fix Cycles"/>
            </a>

        </div>

        <div class="col-md-9 col-sm-1">
            
            <ul id="main-nav">
                <li><a href="/">BİSİKLET</a></li>
                <li><a href="/">YEDEK PARÇA</a></li>
                <li><a href="/">AKSESUAR</a></li>
                <li><a href="/">GLOW SERİSİ</a></li>
                <li><a href="/">TRACK SERİSİ</a></li>
                <li><a href="/">FIRSAT</a></li>
            </ul>

        </div>
    </nav>
</header>
