<div id="utility-bar" class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <ul class="pull-right">
                <!-- <li><a href="/">Hakkımızda</a></li> -->
                <!-- <li><a href="/">Videolar</a></li> -->
                <li><a href="{{url.servisler}}">Servis Noktaları</a></li>
                <li><a href="{{url.contact}}">İletişim</a></li>
            </ul>

            <!-- <ul class="pull-left"> <li><a href="/">Giriş</a></li> <li><a href="/">Kaydol</a></li> </ul> -->

        </div>
    </div>
</div>
