
<div class="container-fluid">

    <h1 class="pf-h-centered">PURE FIX TV</h1>
    
    <div class="vimeo video-row row">

        <div class="vimeo video-col col-md-6">
            {{#vimeo 132883374}}
            <h4>Pure Fix Originals – DTLA</h4>
            <p>Our Original Series take to the streets where they were born, downtown LA. From bike lanes to bridges, skyscrapers to Sunset, and everything in between – Pure Fix is all about freedom, movement, and getting out there. Come ride with us. http://purefixcycles.com</p>
        </div>

        <div class="vimeo video-col col-md-6">
            {{#vimeo 74879287}}
            <h4>Pure City</h4>
            <p>Introducing Pure City - bikes designed to fit your life, your speed, your city.
            <br />
            We took these new beauties out for a spin around our own city, Los Angeles. Check it out!</p>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <a href="{{url}}" class="col-xs-4 btn-centered btn-primary">PURE FIX TV</a>
            </div>
        </div>

    </div>

</div>
