<div class="product-size-chart product-description-x col-md-10 col-md-offset-1">

    <h2>Boyuma Uygun Bisiklet Hangisi ?</h2>

    <div class="row">

        <div class="col-sm-6">
            <img src="asset/img/size/shopbysize-47.jpg" alt="X-SMALL" class="img-responsive" />
        </div>

        <div class="col-sm-6">
            <img src="asset/img/size/shopbysize-50.jpg" alt="SMALL" class="img-responsive" />
        </div>

        <div class="col-sm-6">
            <img src="asset/img/size/shopbysize-54.jpg" alt="MEDIUM" class="img-responsive" />
        </div>

        <div class="col-sm-6">
            <img src="asset/img/size/shopbysize-58.jpg" alt="LARGE" class="img-responsive" />
        </div>

    </div>
</div>
